/*@import "~mapbox-gl/dist/mapbox-gl.css";*/
/*@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';*/
body {
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  width: 230px;
  height: auto;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2;
  top: 120px;
  right: 10px;
  border-radius: 2px;
  padding: 5px 10px;
}

#heading {
  color: #ffffff;
  font-weight: 600;
}

