/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
}


.heading {
  color: #ffffff;
  font-weight: 600;
  margin: 0;
}

.row_content {
  display: flex;
  margin: 5px 0px;
  justify-content: space-between;
}

.icon_one {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.icon_two {
  width: 25px;
  height: 25px;
}
.draw_save {
  margin: 0 0 5px 0;
  display: flex;
  justify-content: space-between
}

.save_button {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  /*margin: 0;*/
  /*padding: 0;*/
}
